@page
@model ASP_Lesson_18.Pages.AllPromotionsModel
@{
    ViewData["Title"] = "Все акционные предложения";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Страна</th>
            <th>Период действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Promotions)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ProductCategory.Name</td>
                <td>@item.Country</td>
                <td>
                    @item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()
                    (@((item.EndDate - item.StartDate).Days + 1) дней)
                </td>
            </tr>
        }
    </tbody>
</table>